@media screen and (max-width:600px) {
    .banner-form, .popular, 
    .dastination-img-row, 
    .service-items, 
    .newsletter  {
        flex-direction: column;
       
        
    }
    .dastination-img-container{
        
        grid-template-columns:  1fr;
        max-width: 100%;
        margin: auto;
         
        }
        .maldives, .indonasia,
        .srilanka, .north-america,
        .kashmir, .bangladesh,
        .bandarban{
            grid-column: 1/12;
            width: 100%;
        }
.why-us{
    margin-top: 250px;
}
    
    .bar-icon{
        display: block;
        margin-left: 20px;
    }
    .nav-bar ul{
        display: none;
    }
    .popular, .popular-img img,
    .dastination-img-row img
    {
        max-width: 100%;
       margin: auto;
    }
     .newsletter-img,
    .newsletter-content
    {
      width: 100%;
       
    }
    .offer-badge{
        margin-right: 30px;
        margin-bottom: 15px;
        width: 40%;

    }
   .btn-white, .btn-prim{
    margin-top: 10px;
   }
    header, main, footer{
        width: 100%;
        padding: 1px;
        
    }
    .service-item3, .social-icon-container, .footer-description {
        width: 100%;
       

    }
}