@media screen and (max-width:600px) {
    .banner-form, .popular, 
    .dastination-img-row, 
    .service-items {
        flex-direction: column;
       
        
    }
    .popular, .popular-img img,
    .dastination-img-row img
    {
        max-width: 100%;
       margin: auto;
    }
    .banner{
      
       
    }
   .btn-white, .btn-prim{
    margin-top: 10px;
   }
    header, main{
        max-width: 100%;
        padding: 20px;
    }
    .service-item3{
        width: 100%;
        /* margin-top: 20px; */

    }
}