@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap');

*{
    text-decoration: none;
    
    box-sizing: border-box;

}
body{
    font-family: 'Mulish', sans-serif;

}
.hide{
    display: none;
}

/* common shared styles */

.section-title{
    font-size: 2.5rem;
    font-weight: 800;
    color: #131318;
}
.text-light-gray{
    font-size: 1rem ;
    font-weight: 400;
    color: #5A5A5D;
    line-height: 1.6rem;
}
.btn-primary{

}

/* header styles 

/* nav section styles */
header{
    width: 1100px;
    margin: 0 auto;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    display: flex;
    align-items: center
    
}
.nav-title{
    color:  #131318;
    font-size: 2.3rem;
    font-weight: 800;
    margin-left: 20px;

}
.travel-color{
    color: #FF5400;
}

.nav-bar ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
.nav-bar a{
    color: #424247;
    font-size: 1.1rem;
    font-weight: 400;
    padding: 10px 20px;
}
.nav-bar .active{
    color: #FF5400;!important

}
.nav-bar a:hover{
    color: #FF5400;
    font-weight: 500;
}

/* banner section styles */

.banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.404)), url("/B9A2-Hero-Travel/Images/Group\ 13\ \(1\)\ \(1\).png") ;
    background-position:  center;
    background-repeat: no-repeat;
    border-radius: 10px;
    text-align: center;
    padding: 50px 0px ;
    

}
.banner-title{
    font-size: 4rem;
    font-weight: 800;
    color: #fff;

}
.banner-description{
    font-size: 1rem ;
    font-weight: 400;
    color: white;
    line-height: 1.6rem;
    max-width: 700px;
    margin: -40px auto 0;
}
.banner-form{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    max-width: 800px;
    margin: 50px auto 30px;
    padding: 20px ;
    justify-content: space-around;
    display: flex;
}
.btn-white{
    background: white;
    padding: 10px 30px ;
    text-align: center;
    border-radius: 5px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
    border: none;
}
.btn-white i{
    margin-left: 30px;
}
.btn-prim{
    padding: 10px 30px ;
    text-align: center;
    border-radius: 5px;
    color:white;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    background: #FF5400;

}

/* popular section styles */

main{
    width: 1100px;
    margin: 100px auto 0;
}
.popular{
    display: flex;
    gap: 50px;
    align-items: center;
    

}
.popular-content{
    width: 100%;
}
.popular-img{
    margin-top: 40px;
    width: 100%;
}

/* dastination section styles */

.dastination{
    text-align: center;
    max-width: 1100px;
    margin: 100px auto ;

}
.dastination p{
    max-width: 700px;
   margin: 0 auto;
}
.dastination-img-container img{
    max-width: 100%;
    
}
.dastination-img-row{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
   
    
}
.dastination-img-container{
   margin-top: 50px;
}
.dastination-img-row h3{
   
    color: white;
    font-size: 3rem;
    font-weight: 800;

}
.dastination-img-row .img-item{
    
}

.maldives{
  position:relative;
}
.malh3{
    position: absolute;
    top: 70px;
    left: 150px;
}
.indonasia{
    position: relative;
}
.indoh3{
    position: absolute;
    top: 70px;
    left: 150px;
}

.srilanka{
   position: relative;
}
.srih3{
    position: absolute;
    top: 57px;
    left: 80px ;
}
.north-america{
  position: relative;
}
.northh3{
    position: absolute;
    top: 60px;
    left: 58px;
}
 .kashmir{
    position: relative;
 }
 .kash3{
    position: absolute;
    left: 30px;
    top: 65px;
}

.bangladesh{
  position: relative;
}
.bdh3{
    position: absolute;
    top: 60px;
    left: 85px;
}
.bandarban{
  position: relative;
} 
.bnh3{
    position: absolute;
    top: 63px;
    left: 180px;
}
/* .maldives h3{
    position: relative;
    top: 100px;
    left: 100px;

}

/* why us section styles */
.why-us{}
.why-us > .section-title, .description-center{
    text-align: center;
}
.why-us .service-items {
    display: flex;
    gap: 40px ;
    margin-top: 50px;

}
.why-us img{
    width: 50px;

}
.service-title{
    font-size: 1.5rem;
    font-weight: 800;
    color: #131318;
}
.service-item1{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 20px;

}
.service-item2{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 20px;

}
.service-item3{
    width: 50%;
    margin: auto;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 20px;
    margin-top: 40px;

}